<h2 class='title-main'>Edit current cohort: </h2>

<%= form_for @cohort do |f| %>
	 <%#= f.cktext_area :name, rows: 10 %>
	<div class='main-list'>
		 <div class='elements'>Name:<%= f.text_field :name %></div>
		<div class='elements'>Options for course: <%= f.select :course_id, options_from_collection_for_select(Course.all, "id", "name") %></div>
		<div class='elements'><%= f.submit class: 'btn btn-default' %></div>
	</div>
	<% end %>