<h1>Cohort:</h1>

<div>Name of Cohort: <%= @cohort.name %></div>
<div>Name of Instructor: <%= @cohort.instructor.lname %></div>
<div>Name of Course: <%= @cohort.course.name %></div>
<div>Date of Creation: <%= @cohort.created_at.strftime("%Y-%m-%d") %></div>