<h1 class='main-list'>List of all Instructors</h1>

<% @instructors.each do |c| %>
<div class='main-list'>
		<div><a href='/instructor/<%= c.id%>'>Name: <%= c.fname %> <%= c.lname%></a></div>
</div>
		<% end %>
