<h1 class='title-main'>Create a new course</h1>
	<%= form_for @course do |f| %>
	<div class="main-list">
	<div class='elements'>Name: <%= f.text_field :name %></div>
	<div class='elements'>Total: <%= f.text_field :total %></div>
	<div class='elements'><%= f.submit class: 'btn btn-default'%></div>
	</div>
	<% end %>
