.title-main, .main-list  {
	margin: 30px auto;
	width: 60%;
	// border: $main-border;
	text-align: center;
	padding: $main-padding;
	background-color: $main-background-color;
}

.secondary-title {
	margin: 30px auto;
	width: 50%;
	border: $main-border;
	text-align: center;
	padding: $main-padding;
	background-color: $secondary-background-color;
}

.devise-buttons {
	padding: 2px 10px;
	border-radius: 5px;
	border: 1px solid;
}

.devise-buttons a {
	text-decoration: none;
}

.button-sign {
	margin: 5px auto;
	font-style: italic;
}

.elements {
	margin: 10px;
	padding: 10px;
}

.cktext-form {
	width: 90%;
	margin: 10px auto;
}











