.title-main, .main-list  {
	margin: 30px auto;
	width: 60%;
	border: $main-border;
	text-align: center;
	padding: $main-padding;
	background-color: $main-background-color;
}

.secondary-title {
	margin: 30px auto;
	width: 50%;
	border: $main-border;
	text-align: center;
	padding: $main-padding;
	background-color: $secondary-background-color;
}



