* {
	font-size: $main-font;
}

.title-main, .main-list  {
	margin: 30px auto;
	width: 60%;
	// border: $main-border;
	text-align: center;
	padding: $main-padding;
	background-color: $main-background-color;
}

.secondary-title {
	margin: 30px auto;
	width: 50%;
	border: $main-border;
	text-align: center;
	padding: $main-padding;
	background-color: $secondary-background-color;
}

.btn-devise {
	margin: 20px 0px;
}

.devise-buttons a {
	text-decoration: none;
}


.button-sign {
	margin: 5px auto;
	font-style: italic;
}
.btn-signIn {
	background: turquoise;
	color: white;
}

.btn-primary {
	color: white;
}

.elements {
	margin: 10px;
	padding: 10px;
}

.cktext-form {
	width: 80%;
	margin: 10px auto;
}

.input-group-text {
	margin: 0 auto;
}

