// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-list {
	width: 70%;
	margin: 10px auto;
	border: 2px solid red;
	
}